@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
p{
    color:darkslateblue;
    width: 1200px;
    text-align: left;
}
body {
    font-size: 19px;
    font-family: "Lato", sans-serif;
    background-color: rgb(250, 250, 250);
    margin: 20;
  }
h1{
    text-align: center;
}
div{
    width: 1400px;
    text-align:right;
    font-style: italic;
}